<div class="contenedor">
    <form action="/create-account" method="POST" class="default-form">
        <div class="campo">
            <label for="name">Nombre</label>
            <input type="text" name="name" placeholder="Nombre">
        </div>
        <div class="campo">
            <label for="email">E-mail</label>
            <input type="email" name="email" placeholder="E-mail">
        </div>
        <div class="campo">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="campo">
            <label for="password">Repetir Password</label>
            <input type="password" name="repeatPassword" placeholder="Repetir Password">
        </div>
        <div class="campo acciones">
            <a href="/login">Iniciar Sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Crear Cuenta" class="btn btn-azul">
        </div>
    </form>
</div>