<main class="contenedor">
    <form action="/login" method="POST" class="default-form">
        <div class="campo">
            <label>E-Mail</label>
            <input type="email" name="email" placeholder="E-Mail" required>
        </div>
        <div class="campo">
            <label>Contrase침a</label>
            <input type="password" name="password" placeholder="Contrase침a">
        </div>
        <div class="campo acciones">
            <a href="/create-account">Registrarse</a>
            <a href="/reset-password">Olvide la Contrase침a</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar Sesi칩n" class="btn btn-azul">
        </div>
    </form>
</main>